colorBtnCarousel = #818a91

.img-carousel
	height 550px !important

.navbar-nav
	float right

.img-heading
	height 150px
	width 150px

.img-articles
	height 500px
	width 500px

.carousel-information
	top 36% !important
	text-align center !important
	
.btn-carousel
	background-color colorBtnCarousel !important
	border-color colorBtnCarousel !important

.btn-carousel:hover
	background-color #0275d8 !important
	border-color #0275d8 !important